<div class="main">
<p>ask your coach anything
<form action="/answer" method="get" class="form-inline">
  <input type="text" name="question">
  <button type="submit" value="Ask!">Ask</button>
</form> 
</div>